HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
/react-timeline/node_modules/
/react-time

### VS Code ###
.vscode/

/src/main/resources/application-dev.properties
/src/main/resources/application-prod.properties

# Logs

/react-timeline/logs
/react-timeline/*.log
/react-timeline/npm-debug.log*
/react-timeline/yarn-debug.log*
/react-timeline/yarn-error.log*
/react-timeline/pnpm-debug.log*
/react-timeline/lerna-debug.log*
/react-timeline/node_modules
# dist
/react-timeline/dist-ssr
/react-timeline/*.local

# Editor directories and files
/react-timeline/.vscode/
/react-timeline/.idea
/react-timeline/.DS_Store
/react-timeline/*.suo
/react-timeline/*.ntvs*
/react-timeline/*.njsproj
/react-timeline/*.sln
/react-timeline/*.sw?
