.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.progress-bar {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}

.language {
    /* border: 1px solid black; */
    border-bottom: none;
    font: inherit;
    margin-top: 10px;
    font-size: 20px;
}

.language:hover {
    color: #ffffff;
}

.single-chart {
    width: 6vw;
    height: 6vh;
}
    

.circular-chart {
    display: flex;
    margin: 10px auto;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.circle-bg {
    fill: none;
    stroke: #ffffff;
    /* stroke-width: 3.8; */
}

.circle {
    fill: none;
    stroke-width: 5;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.TypeScript .circle {
    stroke: #3178C6;
}

.circular-chart.JavaScript .circle {
    stroke: #F1E05A;
}

.circular-chart.HTML .circle {
    stroke: #E34C26;
}

.circular-chart.CSS .circle {
    stroke: #663399;
}

.circular-chart.SCSS .circle {
    stroke: #C6538C;
}

.circular-chart.Java .circle {
    stroke: #B07219;
}

.circular-chart.Python .circle {
    stroke: #3572A5;
}

.percentage {
    fill: #ffffff;
    /* font-family: inherit; */
    font-size: 0.75em;
    text-anchor: middle;
}

/* CHANGING SIZE */
* {
    box-sizing: border-box;
}

.section {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    /* min-width: 225px; */
    border: 2px solid #1F2B5F;
    border-radius: 10px; /* Smaller border radius */
    padding: 15px;
    background-color: rgb(146, 125, 136);
    background-image: url("images/header.svg");
    align-items: center;
    /* background-image: url("images/overlay.png"), url("images/header.svg"), -moz-linear-gradient(75deg, #83777c 15%, #5b929e 55%);
    background-image: url("images/overlay.png"), url("images/header.svg"), -webkit-linear-gradient(75deg, #83777c 15%, #5b929e 55%);
    background-image: url("images/overlay.png"), url("images/header.svg"), -ms-linear-gradient(75deg, #83777c 15%, #5b929e 55%);
    background-image: url("images/overlay.png"), url("images/header.svg"), linear-gradient(75deg, #83777c 15%, #5b929e 55%); */
}

.box-header {
    display: flex;
    align-items: left;
    margin-bottom: 10px; /* Smaller margin */
    gap: 8px;
}

.icon {
    margin-top: 8px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

.title {
    font-size: min(3vw, 20px); /* Smaller title font size */
    font-weight: bold;
    margin-top: 8px;
    text-decoration: underline;
    transition: text-decoration 400ms ease;
}

.box-body {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
    position: relative;
    top: -5px;
    max-width: 100%;
    /* border: 1px solid gold; */
    flex-wrap: wrap;
    
}

.progress-container {
    display: flex;
    justify-content: center; /* Center the progress circle */
}

.clickable-header {
    display: block; /* Make the anchor tag a block element to take up full width */
    text-decoration: none;
    border-radius: 10px;
    border: none;
    margin-top: -14px;
    /* width: 108.35%; height: 40%; */
    background-size: 100% 200%;
    align-items: left;
}

.clickable-header:hover {
    border-radius: 10px;
    /* background-position: 0 -103%; */
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 0.75s;
    background-color: rgb(87, 82, 82, 0.4);
    transform: scale(1.0125);
    transition: 0.5s;
}
.clickable-header:hover .icon {
    transform: scale(1.2); /* Increases size by 10% */
    transform: rotate(0.02turn);
}

.clickable-header:hover .title {
    /* color: #1F2B5F; */
    text-decoration-color: transparent;
}

.message-box {
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    width: 20vw;
    min-width: 225px;
    border: 2px solid #1F2B5F;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(146, 125, 136);
    background-image: url("images/header.svg");
}

.name-header {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-bottom: 10px; /* Smaller margin */
    gap: 5px;
}

.name {
    font-size: 20px; /* Smaller title font size */
    font-weight: bold;
    margin-top: 8px;
}

.message-body {
    align-items: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    font-size:calc(8px + 1vw);
}

/* .clickable-header {
    border: 1px solid black;
} */
/* .message-box, .name-header, .name, .message-body, .icon {
    border: 1px solid black;
} */

